/*
Theme Name: chinese restraurant
Theme URI: http://www.olmarket.co.uk
Description: chinese restraurant WordPress theme
Version: 1
Author: Enhui Zhu
Author URI: http://www.olmarket.co.uk
*/
body {
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

a {
  text-decoration: none;
  color: white; }

.clear {
  clear: both; }

.siteBigDiv, .carouselParent > div, .container > div, .copyright {
  width: 1022px;
  margin-left: auto;
  margin-right: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

ul {
  padding-left: 0px; }

/*
* css for the head part
*/
.head {
  width: 100%;
  height: 100px;
  background-color: black;
  position: relative; }

.siteTitle {
  font-size: 12px;
  position: absolute;
  left: calc(50% - 450px);
  top: 15px;
  font-style: italic; }

.bigTitle {
  color: #a79537;
  font-size: 33px;
  text-shadow: 0px 0px 2px white;
  margin-bottom: 4px; }

.restraurantAward {
  left: calc(50% + 206px);
  top: 31px;
  position: absolute;
  font-style: italic;
  font-size: 23px; }

/**
* css for carousel and navigation list
**/
.carouselParent {
  width: 100%;
  height: 500px;
  background-image: url("images/patern.png");
  background-color: rgba(0, 0, 0, 0.8);
  position: relative; }

.carouselContainer {
  position: relative;
  height: 100%; }

.carouselContainer:hover .arrow {
  display: block; }

.carouselContainer img {
  width: 100%;
  height: 100%;
  position: absolute; }

.carouselContainer .arrow {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-position: center center;
  display: none; }

.arrow.left {
  background-image: url("images/nav_left.png");
  left: 5px; }

.arrow.right {
  background-image: url("images/nav_right.png");
  right: 5px; }

.navigation {
  position: absolute;
  top: -14px;
  left: calc(50% - 492px); }

.navTitleCommon, .navList, .slideTitleWrapper {
  background-color: #990000;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8); }

.navList {
  width: 958px;
  height: 44px; }

.navigation > div {
  float: left; }

.star {
  width: 13px;
  height: 13px;
  background-image: url("images/star.png");
  background-position: center center;
  float: left;
  margin: 3px; }

.star-parent {
  padding: 10px 32px;
  float: left; }

.star-parent.pull-right {
  float: right; }

.navList a {
  display: inline-block;
  padding: 17px 16px;
  position: relative;
  top: -17px;
  float: left; }

.navList a.active, .navList a:hover {
  background-color: white;
  color: #990000;
  font-weight: bold; }

.menuCommon, .menuLeft, .menuRight {
  border-style: solid;
  border-width: 7px; }

.menuLeft {
  border-color: transparent #580000 #580000 transparent; }

.menuRight {
  border-color: transparent transparent #580000 #580000; }

.menu {
  float: left; }

.menu li {
  list-style: none;
  float: left; }

/**
* css for container
**/
.container {
  width: 100%;
  background-image: url("images/container_bg.png");
  background-repeat: repeat-x;
  background-color: white;
  min-height: 200px; }

.content-top {
  text-align: center;
  padding: 23px 0; }

.seperate-img {
  width: 157px;
  height: 20px;
  background-image: url("images/ornament.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block; }

.commone-bg, .slide-panel-container, .slide-img, .item-name, .price {
  background: white; }

.slide-panel-container, .slide-img {
  border: solid 1px #cfc4c4;
  box-shadow: 0px 0px 1px white inset;
  min-height: 100px; }

.slide-panel-container .slide {
  width: 50%;
  float: left;
  text-shadow: #f8f8f8 0px 1px 0px;
  text-align: center;
  padding-bottom: 40px; }

.slide > div {
  display: inline-block; }

.listTopWrapperParent {
  text-align: center; }

.listTopWrapper {
  display: inline-block;
  position: relative;
  top: -14px; }

.slideTitleWrapper {
  padding: 10px 91px;
  color: white;
  font-weight: bold; }

.listTopWrapper > div {
  float: left; }

.slide-img {
  width: 459px;
  height: 200px;
  padding: 3px; }

.slide-img img {
  width: 100%;
  height: 100%; }

.slide-description {
  color: #615353;
  width: 462px;
  text-align: justify;
  margin-top: 20px;
  line-height: 1.5; }

.read-more {
  padding: 8px 15px;
  border: solid 1px black;
  box-shadow: 0px 0px 2px yellow inset;
  text-shadow: #2c0000 0px -1px 0px;
  background-color: #990000;
  color: white;
  display: inline-block;
  margin-top: 20px; }

.content {
  color: #615353;
  padding: 24px 20px; }

/**
* css style for menu
**/
.food-menu {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 80px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 80px;
  /* Firefox */
  column-gap: 80px; }

.itemColor, .category {
  color: #990000;
  text-shadow: white 1px 1px 0px; }

.category {
  font-size: 22px;
  border-bottom: white; }

.menu-list {
  margin-bottom: 40px; }

.menu-list li {
  list-style: none;
  margin-top: 10px; }

.dottline {
  width: 100%;
  border-bottom: 1px dotted #615353;
  position: relative;
  top: 11px; }

.item-name, .price {
  padding: 2px 5px;
  position: relative; }

.contact-detail {
  margin-top: 26px; }

.address {
  width: 300px; }

.row {
  margin-top: 10px; }

.row input[type=text] {
  width: 400px; }

.row label {
  font-size: 12px;
  padding: 5px 7px; }

.row textarea {
  width: 100%;
  height: 183px; }

.copyright {
  color: #615353;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center; 
}

.copyright a {
  color: #615353; }

.block-text {
  margin-bottom: 10px; }

.block-text .block-title {
  font-weight: bold;
  font-size: 14px; }

.block-text .block-content {
  padding: 10px;
  line-height: 2; }

.block-text .block-content strong {display: inline-block; width: 114px; }
